.cv__container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.cv__container-a4 {
  width: 210mm;
  min-height: 260mm;
  background-color: #fff;
}

.cv__header {
  /* width: 100%; */
  padding: 30px;
  display: flex;
}

.cv__header-img {
  width: 158px;
  height: 210px;
  border-radius: 12px;
}

.cv__header-content {
  width: 100%;
  padding-left: 30px;
}

.cv__header-content--description {
  text-align: justify;
  margin: 0;
  padding: 4px 0;
}

/* Content */
.cv__content {
  /* width: 100%; */
  display: flex;
}
.cv__content-left {
  width: 45%;
  /* background-color: red; */
}

.cv__content-right {
  width: 55%;
  /* background-color: greenyellow; */
}

.cv__content-left,
.cv__content-right {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.contact__item-header {
  font-size: 1.6rem;
  text-decoration: underline;
}

.contact__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 4px 0;
}

.contact__link {
  text-decoration: none;
  color: #71b8ff;
}

.contact__icon {
  width: 30px;
  height: 30px;
  background-color: #71b8ff;
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.contact__item-ul {
  margin: 0;
  margin-left: 15px;
  padding: 0 2px;
}

.green{
  color: #28a745;
}